{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}


{% block body %}
<div class="container">
    <div class="jumbotron my-3  bg-dark-subtle p-5">
        <h1 class="display-4">Welcome to WeBlogz!</h1>
        <p class="lead">This is a simple blog page build for learning purpose.</p>
        <hr class="my-4">
        <p>This Blog page is made up by <a href="https://www.linkedin.com/in/mohit-mehra-6ba923227" class="text-primary fw-semibold text-decoration-none"  > Mohit Mehra</a> </p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">View All Blogs</a>
        <div class="container my-5">

        
            <a href="https://www.linkedin.com/in/mohit-mehra-6ba923227" target="_blank" ><i class="uil uil-linkedin " style="color:#5669E2; font-size: xx-large; margin:10px;" ></i></a>
            <a href="https://www.instagram.com/mohitmehra5609/" target="_blank" ><i class="uil uil-instagram " style="color:#EC09F5; font-size: xx-large; margin:10px;" ></i></a>
            <a href="https://github.com/M0hitMehra" target="_blank" ><i class="uil uil-github " style="color:#000000; font-size: xx-large; margin:10px;" ></i></a>
        </div>
    </div>

    </div>
{% endblock body %}


{% block js %}


{% endblock js %}

{% block aboutactive %}active{% endblock aboutactive %}